.chatRoom {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 20px;
}

.top {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
  font-weight: 700;

  border-bottom: 1px solid #222;

  padding-bottom: 12px;
}

.btn {
  min-width: 32px;

  font-size: 13px;

  padding: 4px;
}

.bottom {
  width: 100%;
  /* top: border + pb + height = 37 */
  height: calc(100% - 37px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 12px;
}

/* 채팅목록 */
.chatList {
  overflow-y: auto;

  padding: 12px;
}

/* 입력창 */
.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 6px;
  background-color: #f2f2f2;
}

.input {
  flex: 1;
  padding: 12px;
}

.send {
  padding: 12px;
}

/* 메시지 */
.msg {
  max-width: 230px;

  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ddd;

  display: inline-block;

  line-height: 24px;
  word-break: break-all;
  overflow: hidden;

  padding: 2px 12px;
  margin: 4px 0;
}

.other {
  display: flex;
  justify-content: start;
}
.other .msg {
  background-color: #ddd;
}
.mine {
  display: flex;
  justify-content: end;
}
.mine .msg {
  background-color: white;
}
