.list {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: start;

  font-weight: 700;

  padding: 12px;
}

.name {
  width: 60%;

  font-size: 16px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.connect {
  display: flex;
  gap: 8px;

  font-weight: 500;
}

.time {
  min-width: 50px;

  text-align: end;
}
