.btn {
  width: 28px;
  height: 28px;

  position: relative;
  box-sizing: content-box;

  padding: 10px;
}

.count {
  color: white;
  background-color: #ff6060;
  border-radius: 8px;

  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 9;

  padding: 4px;
}
