.wrap {
  width: 100%;
  max-width: 700px;
  height: 100%;

  border: 1px solid #222;

  display: flex;
  justify-content: space-between;

  margin: 0 auto;
}

.listBox {
  width: 100%;
  height: 100%;

  cursor: default;
}

.title {
  width: 100%;

  color: grey;
  font-size: 18px;
  font-weight: 700;

  border-bottom: 1px solid #222;

  padding: 16px;
}

.displayBox {
  width: 100%;
  height: calc(100% - 53px);
}

/* 아이콘 */
.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  border-left: 1px solid #222;

  padding: 20px;
}
